@page "/employeelist"
@attribute [Authorize(Roles = "Manager")]
@using FuelStation.Web.Client.Authentication;
@using FuelStation.Web.Shared.Employee;
@using FuelStation.Web.Shared;
@using System.Net.Http.Headers;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject AuthenticationStateProvider authenticationStateProvider

<h3>Employee List</h3>


@if (isLoading) {
	<LoadingSpinner Type="LoadingSpinnerType.Border" />
} else {
	@if (errorMessage != null) {
		<p class="text-danger">@errorMessage</p>
	}
	<button class="btn btn-primary" @onclick="CreateItem">Create</button>
	<button class="btn btn-info" @onclick="RefreshItem">Refresh</button>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Hire Date Start</th>
				<th>Hire Date End</th>
				<th>Sallary Per Month</th>
				<th>Employee Type</th>
				<th>Options</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var employee in employeeList) {
				<tr>
					<td>@employee.Name</td>
					<td>@employee.Surname</td>
					<td>@employee.HireDateStart</td>
					<td>@employee.HireDateEnd</td>
					<td>@employee.SallaryPerMonth €</td>
					<td>@employee.EmployeeType</td>
					<td>
						<button class="btn btn-primary" @onclick="()=> EditItem(employee)">Edit</button>
						<button class="btn btn-danger" @onclick="()=> DeleteItem(employee)">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<EmployeeListDto> employeeList = new();
	bool isLoading { get; set; } = true;
	string errorMessage = null;

	protected override async Task OnInitializedAsync()
	{
		var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
		var token = await customAuthStateProvider.GetToken();
		if (!string.IsNullOrWhiteSpace(token))
		{
			httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);
			await LoadItemsFromServer();
			isLoading = false;
		}
		else
		{
			navigationManager.NavigateTo("/login");
		}
	}

	private async Task LoadItemsFromServer() {
		employeeList = await httpClient.GetFromJsonAsync<List<EmployeeListDto>>("employee");
	}

	private void CreateItem() {
		navigationManager.NavigateTo("employeelist/edit");
	}

	private void EditItem(EmployeeListDto employee) {
		navigationManager.NavigateTo($"employeelist/edit/{employee.Id}");
	}
	private void RefreshItem() {
		navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
	}
	private async Task DeleteItem(EmployeeListDto employee) {
		var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Delete Item. Are you sure?");
		if (confirm) {
			//var response = await httpClient.DeleteAsync($"employee/{employee.Id}");
			//if (response.IsSuccessStatusCode) {
			//	await LoadItemsFromServer();
			//} else {
			//	var error = await response.Content.ReadAsStringAsync();
			//	await jsRuntime.InvokeVoidAsync("alert", error);
			//}
			var response = await httpClient.DeleteAsync($"employee/{employee.Id}");
			if (response.IsSuccessStatusCode) {
				await LoadItemsFromServer();
			} else {
				errorMessage = "You can't delete this Employee.";
			}
		}
	}
}
