@model CarServiceCenter.Web.Mvc.Models.Engineer.EngineerDetailsDto

@{
	ViewData["Title"] = "Details";
}

<h1>Engineer Details</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Surname)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Surname)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SalaryPerMonth)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SalaryPerMonth)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ManagerId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ManagerId)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Engineer">Back to List</a>
</div>
